/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFDE59;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

/* Navigation styles */
nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /*border-radius: 10px;*/
    
}

nav img {
    height: 50px;
    margin-left: 500px;
    border-radius: 0 20px;

}

nav a {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
    color: #fff;
}

/* Page styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;    
}

.container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Open Sans', Arial, sans-serif;    
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.container div {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    background-color: #b1afaf;
}

.container div:hover {
    transform: scale(1.04);
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container form input[type="hidden"] {
    display: none;
}

.container form button[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FF4500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.container form button[type="submit"]:hover {
    background-color: #333333;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .container h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .container h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .container form button[type="submit"] {
        padding: 10px 16px;
        font-size: 16px;
    }
}
